<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bai 2.1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="bai2">
      <h1 style="color: blue; text-align: center">{{message}}</h1>
    </div>
    <script>
        var vue = new Vue({
          el: "#bai2",
          data: () =>({
            message: "hvit"
          }),
          methods: {

          },
        });
    </script>
  </body>
</html>
