<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bai 2.1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body style="text-align: center">
    <div id="app1">
      <h1 v-once style="color: blue; text-align: center">{{message}}</h1>
      <h1 style="color: green; text-align: center">{{message1}}</h1>
      <button @click="changedClick()" ref="myButton">CLick me!</button>
    </div>

    <script>
      var vue1 = new Vue({
        el: "#app1",
        data: () => ({
          message: "Message BAN đầu Của app",
        }),
        methods: {
          changedClick() {
            vue1.$data.message = "Message thay đổi bởi đối tượng Vue";
            this.$refs.myButton.innerText = "Changed by Vue";
          },
        },
        computed: {
          message1: function () {
            return this.message.toUpperCase();
          },
        },
      });
    </script>
  </body>
</html>
